/* 
    Document   : user_menu_selection
    Created on : 6 Feb, 2023, 9:59:20 AM
    Author     : soura
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

